
// 1-----------------------
// maquetación del bloque con nesting y variables

.blq
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    background-color: $gray_one;

    &__encabezado
    {
        display: flex;
        flex-direction: row;
        
        &-panel
        {
            width: 66%;
            padding: 1em 2em;
        }

        &-caption
        {

            width: 33%;
            padding: 2em;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }

    &__botones
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5px;

        button
        {
            display: inline-block;
            width: 33%;
            height: 200px;
            border: none;
            font-family: 'leyenda', sans-serif;
            color: white;
            transition: 0.3s;

            span 
            {
                display: block;
                border-radius: 50%;
                background-color: black;
                opacity: 0.3;
                height: 100px;
                width: 100px;
                margin: auto;
                
                img
                {
                    display: block;
                    margin-top: 2em;
                    width: 70px;
                    height: 70px;
                    border: none;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding-left: 90px;
                    overflow:hidden;
                    background-size: 60%;
                    background-position: 60%;
                }
            }
            
            &:hover
            {
                background-color: $hover_color;
                cursor: pointer;

            }

            &:active
            {
                background-color: $click_color;
            }
        }
    }
}

// 2-----------------------
// maquetación de los paneles con nesting y variables

    // panel de video

.pvideo
{
    display: inline-block;

    &__contenedor {
        min-width:100%; 
        max-width:100%; 
        position:relative; 
        top:0;
        left:0; 
        margin:0; 
        padding-top:56.25%;
        
        &-iframe
        {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: none;
        }
    }
}

    // panel de pódcast

.ppodcast
{
    &__list
    {
        margin: 2em;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;

        &-item
        {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: start;
            
            svg 
            {
                .spotify
                {
                    transform: scale(4.0);
                    -ms-transform: scale(4.0);
                    -webkit-transform: scale(4.0);

                    fill: $text_color;
                    transition: 0.3s;
                }

                display: inline-block;
                width: 100px;
                height: 100px;
            }

            &:hover .spotify
            {
                fill: $hover_podcast;
            }
        }
    }
}

    // panel de crónicas

.pcronica
{
 
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__apertura
    {
        min-width:100%; 
        position:relative; 
        top:0;
        left:0; 
        margin:0 0 30px 0; 
        padding-top:250px;
    
        &-img
        {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: none;
            background-image: url("../assets/images/portada_guate.jpeg");
            background-size: cover;

            span 
            {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: black;
                opacity: 0.5;
            }
        }

        &-titular
        {
            position: absolute;
            width: 60%;
            top: 30%;
            left: 10%;

        
            h3 {
                font-size: 2em;
                margin-bottom: 0.3em;
                color: #eee;
            }

            p {
                font-size: 0.8em;
                margin-bottom: 0.3em;
                color: #eee;
            }
        }
    }

}
    
    //inicializar

.ppodcast, .pcronica
{
    display: none;
}

// 3 -------------------------------------------------
// asignar las url de las imágenes a sus etiquetas

@each $boton, $ico in $botones 
    {
        .boton#{$boton} {
            background: $ico no-repeat;  
        }
    }



// 4 -----------------------
// breakpoints mobile last

@media (max-width: 835px)
{
    .blq__encabezado 
    {
        flex-direction: column-reverse;

        &-caption, &-panel
        {
            width: 100%;
        }
    }
}

@media (max-width: 463px)
{
    .pcronica__apertura-titular 
    {
        width: 90%;
        top: 30%;

    
        h3, p {
            line-height: 100%;
        }

    }
}